<div>
    <ul>
        <li>
            <b>Etiqueta: </b>
            {{ etiqueta }}
        </li>
        <li>
            <b>Tipo: </b>
            {{ tipo }}
        </li>
        <li>
            <b>Autor: </b>
            {{ autor }}            
        </li>
        <li>
            <b>Descripción: </b>
            {{ descripcion }}
        </li>
    </ul>
</div>